pandas
plotly
yfinance
pandas-datareader
prophet 
streamlit                                           
streamlit-cookies-controller
streamlit-modal
langchain_text_splitters
langchain_openai
langchain_chroma
langchain
langchain_core