pandas
plotly
streamlit
yfinance
pandas-datareader
prophet                                            
streamlit-cookies-controller
streamlit-modal
langchain_text_splitters
langchain_openai
langchain_chroma
langchain.chains
langchain.memory
langchain_core